

.yearpage-title-container{
	font-weight: bold;
	padding-top:5%;
	padding-inline:13%;
	align-items: center;
}

.yearpage-style-block{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	border: 5px solid #1D4776;

  }

@media (max-width: 1300px) {
	.yearpage-title-container{
		font-weight: bold;
		padding-top:5%;
		padding-inline:5%;
		align-items: center;
	}
}

@media (max-width: 1000px) {
	.yearpage-title-container{
		font-weight: bold;
		padding-top:5%;
		padding-inline:8%;
		align-items: center;
	}
}