@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.timeline-container {
  background:white;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 4rem;
  box-sizing: border-box;
}


.timeline-gallery {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
  padding-left:1%;
  padding-right:1%;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@supports (display: grid) {
  .timeline-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 0.5rem;
  }

  .gallery-item,
  .gallery {
      width: auto;
      margin: 0;
  }
}

@media (min-width: 768px) {
  .gallery-item {
    aspect-ratio: 1 / 1;
  }
}