@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.introduction-color{
  background-color: #9AADC2;
}
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 6%;
  margin: 0 auto;
}

.introduction-description {
  max-width: 500px;
  margin: 0;
  font-size: 1.5vw;
  color: #FFF9E5;
  text-align: center; /* Align text to the left */
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2%;
  padding-top:7%;
  padding-right:5%;
}

.introduction-photo {
  max-width: 650px;
  display: flex;
  justify-content: center;
}

.curved-heart-image {
width:100%;
}

.introduction-title {
  margin: 0;
  padding: 5%;
  font-size: 3vw;
  color: #FFD966;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 1200px) {
  .introduction {
      flex-direction: column;
      align-items: center;
      padding: 20px 10px; /* Adjust padding for small screens */
  }

  .introduction-description {
      max-width: 500px;
      font-size: 2vw; /* Adjust font size for small screens */
      padding: 10px 0; /* Add padding for separation */
      text-align: center; /* Center text on small screens */
  }

  .introduction-photo {
      width: 80%;
      margin-bottom: 20px; /* Add margin for separation */
  }

  .curved-heart-image {
      width: 100%; /* Adjust width as needed */
      border-radius:10px;
  }
  .introduction-title {
    margin: 0;
    padding: 5%;
    font-size: 3vw;
    color: #FFD966;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
}

@media (max-width: 600px) {
  .introduction-title {
    margin: 0;
    padding: 5%;
    font-size: 6vw;
    color: #FFD966;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .introduction-description {
    max-width: 375px;
    font-size: 3vw; /* Adjust font size for small screens */
    padding: 10px 0; /* Add padding for separation */
    text-align: center; /* Center text on small screens */
  }
}


  .button-link {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    text-decoration: none; /* Prevent underlining */
  }

  .animated-button {
    
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: white;
    border-radius: 100px;
    font-weight: 600;
    color: #1f387e;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none; /* Prevent underlining */
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #1f387e;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none; /* Prevent underlining */
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c5e5e4;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none; /* Prevent underlining */
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(4px);
  }
  
  .animated-button:hover svg {
    fill: #1f387e;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
  .button-image {
    width: 40px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px; /* Space between image and text */
  }