@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family:'Raleway', sans-serif;
    padding-top:75px;
    padding-bottom: 5px;
    padding-left:5%;
    padding-right:5%;
    background-color:#6884A3;
    min-height: 50vh;
    
  }