@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* src/components/outro.css */

a {
  color: #6bc9ff;
  text-decoration: none; /* no underline */
}
  .outro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #022851;
    padding: 50px 20px;
    z-index: 0;
  }
  
  .outro-section {
    width: 100%;
    text-align: center;
    font-family:'Raleway', sans-serif;

  }
  
  .outro-title {
    margin: 0;
    padding: 20px;
    font-size: 2.5rem;
    color: #FFD966;
    text-align: center;
  }
  
  .outro-email {
    margin: 0;
    font-size: 1.5rem;
    color: #FFF9E5;
    text-align: center;
    padding: 20px;
  }
  .outro-dev {
    margin: 0;
    font-size: 0.75rem;
    color: #6bc9ff;
    text-align: center;
    padding: 0px;
  }
  
  .outro-love {
    margin: 0;
    font-size: 0.75rem;
    color: #FFF9E5;
    text-align: center;
    padding: 10px;
  }
  
  /* Social Media Links */
  .outro-links {
    display: flex;
    justify-content: center;
  }
  

  .social-icon {
    width: 50px; /* Adjust size as needed */
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
  


  .rounded-button {
    width: 60px;
    height: 60px;
    background: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
    margin: 0 30px;
  }
  
  .rounded-button:hover {
    background: #5a5a5a;
  }
  
  @media (max-width: 600px) {
    .outro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #022851;
      padding-left:0;
      z-index: 0;
    }
    .outro-title {
      padding: 0px;
      font-size: 24pt;
    }
    .outro-email {
      margin: 0;
      font-size: 14pt;
      color: #FFF9E5;
      text-align: center;
      padding: 20px;
    }
  }