@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.about-sidebar {
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed;
    z-index:1;
    overflow:auto;
    padding: 8px 16px!important;
  }

.about-container-style {
  margin-left: 350px!important;
  margin-right: 40px!important;
}
.about-background1 {
  color: #fff!important;
  background-color: #1D4776!important;
}

.about-position {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 18px!important;
}


.about-padding-64 { 
  padding-top: 64px!important; 
  padding-bottom: 64px!important;
 }

.about-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}


.about-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}



.about-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.about-container{ 
  padding: 0.01em 16px; 
  min-height:350px;
}

.about-container-sidebar{ 
  padding: 0.01em 16px; 
}

.about-bar-block { 
  width: 100%; 
  min-width: 100%;
  text-align: left;
  padding: 8px 16px;
  display: block;
  border: none;
  white-space: normal;
  float: none;
  outline: 0; 
}
.about-bar-item { 
  padding: 8px 16px; 
  float: left; 
  width: auto; 
  border: none; 
  display: block; 
  outline: 0; 
  width: 100%;
  text-align: left;
  white-space: normal;
  float: none;
}
.about-hover-white:hover { 
  color: #000!important; 
  background-color: #fff!important; 
}

.about-sidebar-nav {
  width: 300px;
  font-weight: bold;
}

.sidebar-ref {
  width: 100%;
  font-size: 22px;
}

.overlay-eff {
  cursor: pointer;
}

.about-class-style {
  margin-top: 80px;
}

.about-large-font{
  font-size: 55px!important;
}


.about-xxxlarge-font { 
  font-size: 48px!important; 
}

.about-font-color{ 
  color: #1D4776!important; 
}

.about-column-settings{
  float: left;
  width: 100%;
  padding: 0 8px; 
  filter: grayscale(0%); 
  margin-bottom: 16px!important; 
}

.area1-style {
  margin-top: 75px;
}

.about-section-background {
  color: #000!important;
  background-color: #f0efefe1!important;
}

.about-opacity{
   opacity: 0.60; 
  }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
  width: 50px;
  border: 5px solid #1D4776;
}
h1 { font-size: 30px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}


.about-photo-frame1 {
    width: 100%;
    height:100%; /* Ensures the image covers the entire frame */
    object-fit: cover;
    margin: 0; /* Remove margin to avoid offset */
    padding: 0; /* Ensure no padding to avoid offset */
    opacity: 0.85;
    cursor: pointer;
  }
  
  .about-showcase-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }


  .showcase-div1 { grid-area: 1 / 1 / 2 / 2; }
  .showcase-div2 { grid-area: 1 / 2 / 2 / 3; }
  .showcase-div3 { grid-area: 2 / 1 / 3 / 2; }
  .showcase-div4 { grid-area: 2 / 2 / 3 / 3; }
  .showcase-div5 { grid-area: 3 / 1 / 4 / 2; }
  .showcase-div6 { grid-area: 3 / 2 / 4 / 3; }

  .davis-open-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .DO-div1 { grid-area: 1 / 1 / 2 / 2; }
  .DO-div2 { grid-area: 1 / 2 / 2 / 3; }
  .DO-div3 { grid-area: 2 / 1 / 3 / 2; }
  .DO-div4 { grid-area: 2 / 2 / 3 / 3; }
  
.about-paragraph{
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}
.about-bold-paragraph{
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}

.about-photo-frame2{
    width:100%;
    max-height:200px;
}


.about-container-sidebar:after,.about-container-sidebar:before,.about-container:after,.about-container:before,.about-row-padding:after,.about-row-padding:before {
  content:"";
  display:table;
  clear:both
}

.about-row-padding {
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
}
.DO-info{
  padding:20px;
  font-size:16pt;
  font-weight:bold;
}

@media (min-width: 1000px) {
  .about-column-settings {
    flex: 0 1 33.333%; /* Three columns */
    box-sizing: border-box;
  }
}
@media (min-width: 1251px) {

  .about-sidebar{ 
    display: block!important; 
  }
}

@media (max-width: 1250px) {
  .about-container-style {
    margin-left: 10px!important;
    margin-right: 20px!important;
  }

  .about-sidebar{display: none; }

  .about-main { 
    margin-left: 0!important; 
    margin-right: 0!important; 
  }
}

@media (min-width: 1000px) {
  .about-column-settings { 
      width: 33.33333%; 
  }
}

@media (max-width: 601px) {
  .about-showcase-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .davis-open-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}